{% include 'base.html' %}

<body>
  <nav class="bg-header-title text-white p-4 text-center">
    <h2 class="fs-5 fw-bold">Repositorio Institucional del Instituto Tecnológico de Salina Cruz (RI - ITSAL) </h2>
  </nav>

  <main class="mb-4">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-xl-10">
          <div class="card mt-4 shadow-lg" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="https://i.ibb.co/0XHCZtd/Cabeza.jpg" alt="login form" class="img-fluid"
                  style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form method="post" enctype="multipart/form-data">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="fs-2 fw-bold mb-0 ">Bienvenido</span>
                    </div>
                    <!-- //TODO: mandamos el formulario que django nos crea con la variable form-->
                    {{form}}
                    <div class="d-grid gap-2 ">
                      <button class="btn btn-secondary mt-4 " type="submit">Iniciar Sesión</button>
                      <a class="text-center mt-2 " type="button" onclick="mensajeInput()">¿Se le olvido su contraseña?</a>
                    </div>
                    <!-- //TODO: para todos los formularios, mandamos el csrf_token para que django no lo detecte como amenaza-->
                    {% csrf_token %}
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- TODO: Inicia la barra copyright *footer base*-->
  <footer class="bg-header-title d-flex justify-content-center p-3 mt-auto">
    <p class="fs-6 text-center text-white mt-2">© Copyright 2022 TecNM - Todos los Derechos Reservados</p>
  </footer>
  <!-- TODO: Termina la barra copyright *footer base*-->
  <script>
    async function mensajeInput(){
      const { value: email } = await Swal.fire({
      title: 'Favor de ingresar su email',
      text: 'Se le enviara un correo en el cual le daran instrucciones de como restablecer su contraseña',
      input: 'email',
      inputPlaceholder: 'Escriba aquí su email',
      showCancelButton: true,
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Mandar correo',
      inputValidator: (value) => {
        if (!/^[^@]+@[^@]+\.[^@]+$/.test(value)) {
          return 'Por favor ingrese una dirección de correo electrónico válida'
        }
      }
    })

    if (email) {
      //Aqui entra si es gmail valido
      window.location.href = "/restablecerPassword/" + email
    }
    }
  </script>
</body>