{% include 'base.html' %}
{% block content %}
{% include 'components/navbar.html '%}
<main>
   
        <div class="container">
             {% include 'components/titleRI.html' %}
            <div class="alert alert-danger error" role="alert">
                <h4 class="alert-heading">Identificador inválido</h4>
                <ul>
                    <li><strong>* La URL de la página actual es incorrecta - si ha llegado aquí a través de un enlace externo puede estar mal escrito o ser erróneo.</strong></li>
                    <li><strong>* Ha ingresado un ID o categoría de documento inválido en la url - por favor inténtelo de nuevo.</strong></li>
                </ul>
               <hr>
               <p>Si está teniendo problemas o esperaba que el ID funcionase, contáctese con los administradores por favor.</p>
              </div>
            
        </div>
    
</main>
{% endblock %}
{% include 'components/footer.html '%}