{% extends 'base.html' %}
{% block content %}
{% include 'components/navbar.html '%}
<main>
    <div class="container">
        {% include 'components/titleRI.html' %}

        <div class="table-responsive card-body p-4 shadow">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb fs-5">
                  <li class="breadcrumb-item"><a href="/vistaDocumento/{{ keyDocumento }}">Registro completo de metadatos</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><h5 class="fs-6">{{ documento.title }}</h5></li>
                </ol>
              </nav>
            <table class="table table-striped tb-documentos">
               
                <tbody>
                  <tr>
                    <td class="td-title"><b>DC.TITLE:</b> </td>
                    <td>{{ documento.title }}</td>
                  </tr>
                  <tr>
                    <td class="td-title"><b>DC:CREATOR:</b></td>
                    <td>{{ documento.creator }}</td>
                  </tr>
                  <tr>
                    <td class="td-title"><b>DC.CONTRIBUTOR:</b></td>
                    <td>{{ documento.contributor }}</td>
                  </tr>
                  <tr>
                    <td class="td-title"><b>DC.TYPE:</b></td>
                    <td>{{ documento.type }}</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.DESCRIPTION:</b></td>
                    <td>{{ documento.description }}</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.DATE:</b></td>
                    <td>{{ documento.date }}</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.PUBLISHER:</b></td>
                    <td>{{ documento.publisher }}</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.RIGHTS:</b></td>
                    <td>Creative Commons Atribución 4.0 Internacional</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.FORMAT:</b></td>
                    <td>{{ archivo.format }}</td>
                  </tr>
                  <tr>
                    <td class="td-title" ><b>DC.LANGUAGE:</b></td>
                    <td>{{ documento.language }}</td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
        <div class="table-responsive card-body p-4 shadow mt-4 mb-4">
            <table class="table table-striped  tb-datos">
                <thead>
                  <tr>
                    <th scope="col">Nombre del Fichero</th>
                    <th scope="col">Tamaño</th>
                    <th scope="col">Formato</th>
                    <th scope="col">Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ archivo.file }}</td>
                    <td>{{ megabits_redondeados }} MB</td>
                    <td>{{ archivo.format }}</td>
                    <td><a class="btn btn-secondary btn-sm" href="{{ linkArchivo }}" data-toggle="tooltip" title="Descargar documento"><i class="fa-solid fa-download"></i></a></td>
                  </tr>
                </tbody>
              </table>
            
        </div>
        {% if licencia != 0 %}
        <div class="card-body alert alert-primary bd-callout bd-callout-info shadow p-4">
            <div class="le d-flex  justify-content-between">
                <p class="fw-bold">Esta obra esta bajo una licencia externa</p>
                <a href="{{ linkLicencia }}" class="alert-link">Ver licencia</a>
            </div>
        </div>
        {% endif %}
        <div class="card-body bd-callout bd-callout-info shadow p-4 mb-4">
           <div class="cc">
            <!-- aqui va ir la licencia creative commos cuando sea insertada -->
            {{ documento.cc|safe }}
           </div>
        </div>
    </div>
        
</main>
{% include 'components/footer.html '%}
{% endblock %}