{% extends 'base.html' %}

{% block content %}
{% include 'components/navbar.html '%}
<main>
      <div class="container">
        {% include 'components/titleRI.html' %}
        <div class="col-12 d-flex justify-content-end mt-4">
            <a href="https://creativecommons.org/choose/?lang=es#metadata" target="_blank" class="btn btn-warning"><i class="fa-brands fa-creative-commons"></i>&nbsp;Creative Commonts</a>
          </div>
        <div class="d-flex justify-content-center mt-4 mb-4">
            <div class="card shadow-lg col-md-12">
                <div class="card-header bg-header-title">
                    <h2 class="text-white fs-6 fw-bold">Agregar Documentos</h2>
                </div>
                <div class="card-body p-4">
                    <form method="post" enctype="multipart/form-data" class="row g-3" novalidate>
                      {% for field in form %}
                        {% if field.name == 'description' or field.name == 'File' or field.name == 'cc' or field.name == 'externalLicense' %}
                          <div class="col-md-12">
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                        {% if field.name == 'publisher' or field.name == 'language' or field.name == 'typeProject' %}
                          <div class="col-md-4">
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                        {% if field.name == 'title' or field.name == 'career' or field.name == 'creator' or field.name == 'contributor' or field.name == 'type' or field.name == 'date' %}
                          <div class="col-md-6">
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                      {% endfor %}
                        <!--
                        <div class="col-md-6">
                            <label for="dc_title" class="form-label fw-bold">Titulo del documento</label>
                            <input type="text" class="form-control" id="dc_title" placeholder="Escriba el titulo del documento" required>
                          </div>
                          <div class="col-md-6">
                            <label for="carrera" class="form-label fw-bold">Carrera</label>
                            <select id="carrera" class="form-select" required>
                              <option selected disabled>Seleccione una carrera</option>
                              <option>Ing. Quimica</option>
                              <option>Ing. Electronica</option>
                              <option>Ing. Mecanica</option>
                              <option>Ing. Acuicultura</option>
                              <option>Ing. Gestion Empresarial</option>
                              <option>Ing. TIC'S</option>
                            </select>
                          </div>
                        <div class="col-md-6">
                          <label for="dc_creator" class="form-label fw-bold">Autor(es)</label>
                          <input type="text" class="form-control" id="dc_creator" placeholder="Escriba el nombre del autor" required>
                        </div>
                        <div class="col-md-6">
                          <label for="dc_contributor" class="form-label fw-bold">Colaborador(es)</label>
                          <input type="text" class="form-control" id="dc_contributor" placeholder="Escriba nombre del asesor" required>
                        </div>
                        <div class="col-md-6">
                            <label for="dc_type" class="form-label fw-bold">Tipo de documento</label>
                            <select id="dc_type" class="form-select" required>
                              <option selected>Reporte de residencias</option>
                              <option>tesis</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="dc_date" class="form-label fw-bold">Fecha de publicacion</label>
                            <input type="date" class="form-control" id="dc_date" required>
                          </div>

                        <div class="col-12">
                          <label for="dc_description" class="form-label fw-bold">Descripción</label>
                          <textarea  type="text" placeholder="Escriba la desripcion del documento aqui" class="form-control" id="dc_description" style="height: 10em;" required></textarea>
                        </div>
                        <div class="col-md-12">
                            <label for="dc_format" class="form-label fw-bold">Formato del documento</label>
                            <select id="dc_format" class="form-select" disabled>
                              <option selected>PDF</option>
                            </select>
                            </div>

                        <div class="col-md-4">
                          <label for="dc_publisher" class="form-label fw-bold">Editor(a)</label>
                          <input type="text" class="form-control" id="dc_publisher" placeholder="Escriba el nombre y apellidos del editor" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label fw-bold">Idioma del documento</label>
                            <select id="inputState" class="form-select">
                              <option selected>Español</option>
                              <option>Ingles</option>
                            </select>
                          </div>
                          <div class="col-md-4">
                            <label for="inputTipodocumento" class="form-label fw-bold">Selecciona el tipo de documento</label>
                            <select id="inputTipodocumento" class="form-select">
                              <option selected>Documento interno</option>
                              <option>Documento externo</option>
                            </select>
                          </div>
                          <div class="col-md-12">
                            <label for="inputDocumento" class="form-label fw-bold">Selecciona el documento</label>
                            <input type="file" class="form-control" id="inputDocumento" accept="application/pdf" required>
                          </div>
                        <div class="col-md-12">
                            <label for="dc_rights" class="form-label fw-bold">Ingresa la licencia cc</label>
                            <textarea type="text" class="form-control" id="dc_rights" required></textarea>
                          </div>
                          <div class="col-md-12">
                            <label for="inputLicenciaExterna" class="form-label fw-bold">Selecciona la licencia externa</label>
                            <input type="file" class="form-control" id="inputLicenciaExterna" accept="image/jpeg,image/png" disabled required>
                          </div>
                        -->
                        
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary mt-4 " type="submit">Agregar documento</button>
                        </div>
                        {% csrf_token %}
                      </form>
                </div>
            </div>
        </div>
      </div>
    </main>
    {% include 'components/footer.html '%}
    {% endblock %}