{% extends 'base.html' %}

{% block content %}
{% include 'components/navbar.html '%}
<main>
      <div class="container">
        {% include 'components/titleRI.html' %}
       
        <div class="d-flex justify-content-center mt-4 mb-4">
            <div class="card shadow-lg col-md-12">
                <div class="card-header bg-header-title">
                    <h2 class="text-white fs-6 fw-bold">Editar Documentos</h2>
                </div>
                <div class="card-body p-4">
                    <form method="post" enctype="multipart/form-data" class="row g-3" novalidate>
                      {% for field in form %}
                        {% if field.name == 'description' or field.name == 'File' or field.name == 'cc' or field.name == 'externalLicense' %}
                          <div class="col-md-12">
                            {% if field.name == 'File' %}
                                <p class="alert alert-warning fw-bold">{{archivo.file}}</p>
                            {% endif %}
                            {% if licencia != 0 and field.name == 'externalLicense' %}
                                <p class="alert alert-warning fw-bold">{{licencia.file}}</p>
                            {% endif %}
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                        {% if field.name == 'publisher' or field.name == 'language' or field.name == 'typeProject' %}
                          <div class="col-md-4">
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                        {% if field.name == 'title' or field.name == 'career' or field.name == 'creator' or field.name == 'contributor' or field.name == 'type' or field.name == 'date' %}
                          <div class="col-md-6">
                            {{ field.errors }}
                            <strong>{{ field.label_tag }}</strong> {{ field }}
                          </div>
                        {% endif %}
                      {% endfor %}
                       
                        
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary mt-4 " type="submit">Editar documento</button>
                        </div>
                        {% csrf_token %}
                      </form>
                </div>
            </div>
        </div>
      </div>
    </main>
    {% include 'components/footer.html '%}
    <script>
      $(document).ready(function () {
        $('#id_name').val(name);
        $('#id_surnames').val(surnames);
        $('#id_state').val(state);
        $('#id_key').val(key);
    });
    </script>
    {% endblock %}