{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'components/navbar.html' %}
<div class="container p-2 ">
    {% include 'components/titleRI.html' %}
    <div class="w-100  card-header  p-2"><h2 class="fs-5"><b>Inicio Administrador RI - ITSAL</b></h2></div>
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-12  col-md-12 col-lg-4  mb-4 ">
            <div class="card shadow-lg ">
                <div class="card-header text-center bg-header-title  text-white">
                    <h2 class="fs-5"><b>Documentos</b></h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-fluid" style="height: 10em; width: 10em;" src="{% static 'images\icon\documents2.png' %}" alt="">
                        </div>
                        <div class="col-sm-6 p-4">
                            <div class="">
                                <h2 class="fs-6 text-muted"><b>{{ cantidadDeDocumentos }} Documentos existentes</b></h2>
                            </div>
                            <div class="mt-4">
                                <a href="/vistaDocumentos" class="btn btn-secondary">ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 mb-4 ">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-header-title  text-white">
                    <h2 class="fs-5"><b>Quejas y Sugerencias</b></h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-fluid" style="height: 10em; width: 10em;" src="{% static 'images\icon\inbox.png' %}" alt="">
                        </div>
                        <div class="col-sm-6 p-4">
                            <div class="">
                                <h2 class="fs-6 text-muted"><b>{{ cantidadDeQYS }} Comentarios existentes</b></h2>
                            </div>
                            <div class="mt-4">
                                <a href="/vistaQuejasSugerencias" class="btn btn-secondary">ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       {% if datosDeSesion.role == 'Administrador' %}
        <div class="col-12 col-md-12 col-lg-4 mb-4 ">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-header-title  text-white">
                    <h2 class="fs-5"><b>Subadministradores</b></h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <img class="img-fluid" style="height: 10em; width: 10em;" src="{% static 'images\icon\people.png' %}" alt="">
                        </div>
                        <div class="col-sm-6 p-4">
                            <div class="">
                                <h3 class="fs-6 text-muted"><b>{{ cantidadDeUsuarios }} registros existentes</b></h3>
                            </div>
                            <div class="mt-4">
                                <a href="/vistaSubadministradores" class="btn btn-secondary">ver más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
      </div> 
</div>
{% include 'components/footer.html' %}
{% endblock %}