<!-- TODO: Inicia contenido de la pagina principal del repositorio-->
{% load static %}
<div class="container mt-4 mb-4">
    <div class="row">
      <!-- TODO: Inicia contenido izquierdo (documentos por carrera)-->
        <aside class="col-md-3 d-flex ">
           <div class="card w-100 shadow-lg ">
            <div class="card-header bg-header-card-riitsal text-white">
                <h2 class="fs-6 text-category-riitsal  ">
                    <b>Documentos por carrera:</b>
                </h2>
            </div>
            <div class="list-group p-3 ">
                <a href="#" class="list-group-item-left-riitsal  text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. Química <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item-left-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. en Acuicultura <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item-left-riitsal  text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. Mecánica <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item-left-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. Electrónica <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#"  class="list-group-item-left-riitsal  text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. en Gestión Empresarial <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#"  class="list-group-item-left-riitsal  text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">Ing. en TIC'S <span class="badge text-bg-secondary float-end">0</span></a>
              </div>
           </div>
        </aside>
        <!-- TODO: Termina contenido izquierdo (documentos por carrera)-->

        <!-- TODO: Inicia contenido central (documentos del RI ITSAL)-->
        <div class="col-md-6 d-flex sm-mt-2" id="documents">
         <div class="card w-100 shadow-lg ">
            <div class="card-header bg-header-card-riitsal text-white">
                <h2 class="fs-6 text-category-riitsal ">
                   <b> Documentos del RI ITSAL</b>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal" >
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-category-riitsal">Tesis<span class="badge text-bg-custom float-end">0</span></h5>
                      <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\thesis-2.png' %}" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-category-riitsal ">Reportes de residencia<span class="badge text-bg-custom float-end">0</span></h5>
                     <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\report.png' %}" alt="">
                     </a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-category-riitsal">Documentos<span class="badge text-bg-custom float-end">0</span></h5>
                      <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\documents.png' %}" alt="">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-category-riitsal">Otros<span class="badge text-bg-custom float-end">0</span></h5>
                        <a href="">
                            <img class="img-fluid size-logo-categoria" src="{% static 'images\icon\folder.png' %}" alt="">
                        </a>
                    </div>
                  </div>
                </div>
              </div>
         </div>
        </div>
        <!-- TODO: Termina contenido central (documentos del RI ITSAL)-->

        <!-- TODO: Inicia contenido derecho (Filtros)-->
        <aside class="col-md-3 d-flex" id="filters">
            <div class="card w-100 shadow-lg">
                <div class="card-header bg-header-card-riitsal text-white">
                    <h2 class="fs-6 text-category-riitsal ">
                        <b>Filtros:</b>
                    </h2>
                </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark text-category-riitsal "><b>Autor:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A second link item <span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark text-category-riitsal"><b>Título:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A second link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark text-category-riitsal "><b>Fecha de lanzamiento:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A second link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item-riitsal text-dark hover-list-group-item-riitsal list-group-item-action text-category-riitsal ">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               </div>
        </aside>
        <!-- TODO: Termina contenido derecho (Filtros)-->
      </div>
</div>