
   <!-- TODO: Inicia el footer-->

  <footer>

    <!-- TODO: Inicia la barra copyright *footer base*-->
    <div class="bg-footer-riitsal d-flex justify-content-center p-4">
      <p class="text-footer-riitsal text-white mt-2">© Copyright 2022 TecNM - Todos los Derechos Reservados</p>
    </div>
    <!-- TODO: Termina la barra copyright *footer base*-->


     <!-- TODO: Inicia la primera barra separadora gobmx-->
    <div class="bar-none"></div>
     <!-- TODO: Termina la primera barra separadora gobmx-->


      <!-- TODO: Inicia footer gobmx-->
    <div class=" bg-footer-gobmx row-footer-riitsal row-cols-1 row-cols-sm-2 row-cols-md-5  p-4 d-flex">
      <div class="col mb-3 " >
        <a href="/" class=" align-items-center mb-3 ms-lg-5">
          <img class="logo-footer img-fluid" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="" style="width: 10em; height:5em;" >
        </a>
      </div>
      <div class="col mb-2"></div>

      <div class="col mb-2 mt-4">
        <h5 class="text-white text-title-footer-riitsal">Enlaces</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="https://participa.gob.mx/" class="p-0 link-footer-riitsal text-footer-riitsal" target="_blank">Participa</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/publicaciones" class="p-0 link-footer-riitsal text-footer-riitsal" target="_blank">Publicaciones
              Oficiales</a></li>
          <li class="nav-item mb-0"><a href="http://www.ordenjuridico.gob.mx/" class="p-0 link-footer-riitsal text-footer-riitsal" target="_blank">Marco Jurídico</a>
          </li>
          <li class="nav-item mb-0"><a href="https://consultapublicamx.inai.org.mx/vut-web/" class="p-0 link-footer-riitsal text-footer-riitsal" target="_blank">Plataforma
              Nacional de Transparencia</a></li>
        </ul>
      </div>

      <div class="col mb-3 mt-4">
        <h5 class="text-white text-title-footer-riitsal">¿Qué es gob.mx?</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <p class="text-white text-footer-riitsal ">
              Es el portal único de trámites, información y participación ciudadana.<a href="https://www.gob.mx/que-es-gobmx"
                class="p-0 link-footer-riitsal text--footer-riitsal" target="_blank"><br> Leer más</a></p>
          </li>
          <li class="nav-item mb-0"><a href="https://datos.gob.mx/" class=" link-footer-riitsal text-footer-riitsal"  target="_blank">Portal de datos
              abiertos</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/privacidadintegral" class=" link-footer-riitsal text-footer-riitsal" target="_blank">Aviso de
              privacidad integral</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/accesibilidad" class=" link-footer-riitsal text-footer-riitsal" target="_blank">Declaración de
              accesibilidad</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/privacidadsimplificado" class=" link-footer-riitsal text-footer-riitsal" target="_blank" >Aviso de
              privacidad simplificado</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/terminos" class=" link-footer-riitsal text-footer-riitsal" target="_blank">Terminos y
              condiciones</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion" class=" link-footer-riitsal text-footer-riitsal" target="_blank">Politica de
              seguridad</a></li>
          <li class="nav-item mb-0"><a href="https://www.gob.mx/sitemap" class=" link-footer-riitsal text-footer-riitsal" target="_blank">Mapa de sitio</a>
          </li>
        </ul>
      </div>
      <div class="col mb-3 mt-4">
        <ul class="nav flex-column">
          <li class="nav-item "><a href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54" class="link-footer-riitsal text-footer-riitsal" target="_blank">Denuncia contra
              servidores públicos</a></li>
          <li class="nav-item mt-2">
            <h5 class="text-white text-title-footer-riitsal">Síguenos en</h5>
          </li>
          <div class="d-flex">
            <li><a href="https://www.facebook.com/gobmexico" class="p-0"><i class="fab fa-facebook-f icon-footer-riitsal "></i></a>
            </li>
            <li class=" ms-4"><a href="https://twitter.com/GobiernoMX" class="p-0"><i class="fab fa-twitter icon-footer-riitsal"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
      <!-- TODO: Termina footer gobmx-->


     <!-- TODO: Inicia la segunda barra separadora gobmx-->
    <div class="bar-none2"></div>
      <!-- TODO: Termina la segunda barra separadora gobmx-->


</footer>
  <!-- TODO: Termina footer-->
