
  <footer>
    <div class="bg-footer-riitsal d-flex justify-content-center p-4">
      <p class="text-footer-riitsal text-white mt-2">© Copyright 2022 TecNM - Todos los Derechos Reservados</p>
    </div>

    <div class="bar-none"></div>

    <div class=" bg-footer-gobmx row-footer-riitsal row-cols-1 row-cols-sm-2 row-cols-md-5  p-4 d-flex">
     
      <div class="col mb-3 " >
        <a href="/" class=" align-items-center mb-3 ms-lg-5">
          <img class="logo-footer img-fluid" src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" alt="" style="width: 10em; height:5em;" >
        </a>
      </div>
      <div class="col mb-2"></div>

      <div class="col mb-2 mt-4">
        <h5 class="text-white text-title-footer-riitsal">Enlaces</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-0"><a href="#" class="p-0 link-footer-riitsal text-footer-riitsal">Participa</a></li>
          <li class="nav-item mb-0"><a href="#" class="p-0 link-footer-riitsal text-footer-riitsal">Publicaciones
              Oficiales</a></li>
          <li class="nav-item mb-0"><a href="#" class="p-0 link-footer-riitsal text-footer-riitsal">Marco Jurídico</a>
          </li>
          <li class="nav-item mb-0"><a href="#" class="p-0 link-footer-riitsal text-footer-riitsal">Plataforma
              Nacional de Transparencia</a></li>
        </ul>
      </div>

      <div class="col mb-3 mt-4">
        <h5 class="text-white text-title-footer-riitsal">¿Qué es gob.mx?</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <p class="text-white text-footer-riitsal ">
              Es el portal único de trámites, información y participación ciudadana.<a href="#"
                class="p-0 link-footer-riitsal text--footer-riitsal"><br> Leer más</a></p>
          </li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Portal de datos
              abiertos</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Aviso de
              privacidad integral</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Declaración de
              accesibilidad</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Aviso de
              privacidad simplificado</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Terminos y
              condiciones</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Politica de
              seguridad</a></li>
          <li class="nav-item mb-0"><a href="#" class=" link-footer-riitsal text-footer-riitsal">Mapa de sitio</a>
          </li>
        </ul>
      </div>
      <div class="col mb-3 mt-4">
        <ul class="nav flex-column">
          <li class="nav-item "><a href="#" class="link-footer-riitsal text-footer-riitsal">Denuncia contra
              servidores públicos</a></li>
          <li class="nav-item mt-2">
            <h5 class="text-white text-title-footer-riitsal">Síguenos en</h5>
          </li>
          <div class="d-flex">
            <li><a href="#" class="p-0"><i class="fab fa-facebook-f icon-footer-riitsal "></i></a>
            </li>
            <li class=" ms-4"><a href="#" class="p-0"><i class="fab fa-twitter icon-footer-riitsal"></i></a></li>
          </div>
        </ul>
      </div>
    </div>
    <div class="bar-none2"></div>
</footer>
