{% include 'base.html' %}

<body>
    <nav class="navbar-bg-login text-white p-4 text-center">
        <h2 class="fs-5 fw-bold navbar-login-text">Repositorio Institucional del Instituto Tecnológico de Salina Cruz (RI - ITSAL) </h2>
    </nav>
    
    <section>
        <div class="container mb-2" id="login">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
              <div class="card mt-4 shadow-lg" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://i.ibb.co/0XHCZtd/Cabeza.jpg"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                      <form>

                        <div class="d-flex align-items-center mb-3 pb-1">
                          <span class="h1 fw-bold mb-0 navbar-login-text">Bienvenido</span>
                        </div>

                        <div class="form-outline mb-4">
                          <label class="form-label navbar-login-text" for="form2Example17">Correo Electrónico:</label>
                          <input type="email" id="form2Example17" class="form-control form-control-lg"/>
                        </div>
      
                        <div class="form-outline mb-4">
                            <label class="form-label navbar-login-text" for="form2Example27">Contraseña</label>
                          <input type="password" id="form2Example27" class="form-control form-control-lg" />
                        </div>
      
                          <div class="d-grid gap-2 navbar-login-text">
                            <button class="btn btn-dark mt-4 " type="button">Iniciar Sesión</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
    
    <footer class="bg-footer-riitsal d-flex justify-content-center p-3 position-absolute bottom-0 w-100 " >
        <p class="text-footer-riitsal text-center text-white mt-2">© Copyright 2022 TecNM - Todos los Derechos Reservados</p>
    </footer>
    
</body>