    <!-- TODO: Inicia titulo, recursos digitales y mision del repositorio-->

<div class="container">
    <!-- TODO: Inicia el titulo del repositorio-->
    <div class="card mt-4 mb-2 bg-white rounded shadow-lg">
        <div class="card-header bg-title-riitsal text-white">
            <h1 class="text-mision-riitsal"><strong>Repositorio Institucional del Instituto Tecnológico de Salina Cruz (RI - ITSAL)</strong></h1>
        </div>
      </div>
    <!-- TODO: Termina el titulo del repositorio-->


    <!-- TODO: Inicia seccion de cantidad de recursos digitales-->
      <div class="bd-callout bd-callout-info shadow-lg" role="alert">
       <span>0 Recursos digitales incorporados hasta el momento.</span>
      </div>
    <!-- TODO: Termina seccion de cantidad de recursos digitales-->


    <!-- TODO: Inicia mision del repositorio-->
      <div class="card mb-2 bg-mision-riitsal">
        <div class="card-header">
          <h2 class="text-white fs-5"><b>Misión</b></h2>
        </div>
        <div class="card-body">
            <p class="text-white "><q>Organizar, conservar y difundir la producción académica del Instituto Tecnológico de Salina Cruz y con ello ayudar al apoyo en la investigación y aprendizaje</q></p>
        </div>
      </div>
    <!-- TODO: Termina mision del repositorio-->
</div>