{% include 'base.html' %}

<body>
    {% include 'components/navbarGeneralPrueba.html' %}
    <main>
        <div class="container">
            {% include 'components/titleRI.html' %}
            <div class="row d-flex p-4 justify-content-center align-items-center">
              <div class="col col-xl-10 mb-2">
                <div class="card shadow-lg" style="border-radius: 1rem;">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                      <img src="https://i.ibb.co/0XHCZtd/Cabeza.jpg"
                        alt="login form" class="img-fluid h-100" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
                        <!--Le decimos al formulario que por metodo post se mandara la info-->
                        <form method="post" enctype="multipart/form-data">
                          <!--
                          <div class="d-flex align-items-center mb-3 pb-1">
                            <span class="h1 fw-bold mb-0">Registro de usuarios</span>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="inputNombreRegistro">Nombre:</label>
                            <input type="text" name="name" placeholder="Escriba su nombre" id="inputNombreRegistro" class="form-control" required/>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="inputApellidosRegistro">Apellidos:</label>
                            <input type="text" name="surnames" placeholder="Escriba sus apellidos" id="inputApellidosRegistro" class="form-control" required/>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="inputCorreoRegistro">Correo Electrónico:</label>
                            <input type="email" name="email" placeholder="Escriba su correo electronico" id="inputCorreoRegistro" class="form-control" required/>
                          </div>
                          <div class="mb-3">
                              <label class="form-label" for="inputContraseñaRegistro">Contraseña:</label>
                            <input type="password" name="password" placeholder="Escriba su contraseña" id="inputContraseñaRegistro" class="form-control" required />
                          </div>
                          -->
                          <!-- //TODO: mandamos el formulario que django nos crea con la variable form-->
                          {{form}}
                            <div class="d-grid gap-2">
                              <button class="btn btn-dark mt-4 " type="submit">Registrarme</button>
                              <!-- //TODO: para todos los formularios, mandamos el csrf_token para que django no lo detecte como amenaza-->
                              {% csrf_token %}
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </main>
    {% include 'footer.html' %}
</body>
