<!-- TODO: Inicia contenido de la pagina principal del repositorio-->
{% load static %}
<div class="container mt-4 mb-4">
    <div class="row">
      <!-- TODO: Inicia contenido izquierdo (documentos por carrera)-->
        <aside class="col-md-3 d-flex">
           <div class="card w-100 shadow-lg">
            <div class="card-header bg-header-title text-white">
                <h2 class="fs-6  ">
                    <b>Documentos por carrera:</b>
                </h2>
            </div>
            <div class="list-group p-3">
                <a href="contacto" class="list-group-item  text-dark hover-list-group-item-riitsal list-group-item-action">Ing. Química <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">Ing. en Acuicultura <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item  text-dark hover-list-group-item-riitsal list-group-item-action">Ing. Mecánica <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">Ing. Electrónica <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#"  class="list-group-item  text-dark hover-list-group-item-riitsal list-group-item-action">Ing. en Gestión Empresarial <span class="badge text-bg-secondary float-end">0</span></a>
                <a href="#"  class="list-group-item  text-dark hover-list-group-item-riitsal list-group-item-action">Ing. en TIC'S <span class="badge text-bg-secondary float-end">0</span></a>
              </div>
           </div>
        </aside>
        <!-- TODO: Termina contenido izquierdo (documentos por carrera)-->

        <!-- TODO: Inicia contenido central (documentos del RI ITSAL)-->
        <div class="col-md-6 d-flex sm-mt-2" id="documents">
         <div class="card w-100 shadow-lg ">
            <div class="card-header bg-header-title text-white">
                <h2 class="fs-6">
                   <b> Documentos del RI ITSAL</b>
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-category-riitsal"  data-toggle="tooltip" title="Tesis del RI - ITSAL">Tesis</h5>
                      <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\thesis-2.png' %}" alt="tesis_icon" data-toggle="tooltip" title="Tesis del RI - ITSAL">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6 text-truncate" data-toggle="tooltip" title="Reportes de Residencia del RI - ITSAL">Reportes de Residencia </h5>
                     <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\report.png' %}" alt="report_icon" data-toggle="tooltip" title="Reportes de Residencia del RI - ITSAL">
                     </a>
                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 p-4">
                  <div class="card shadow-lg hover-list-group-item-riitsal">
                    <div class="card-body">
                      <h5 class="card-header fs-6" data-toggle="tooltip" title="Proyectos Integrales del RI - ITSAL">Proyectos Integrales</h5>
                      <a href="">
                        <img class="img-fluid size-logo-categoria"  src="{% static 'images\icon\documents.png' %}" alt="documents_icon" data-toggle="tooltip" title="Proyectos Integrales del RI - ITSAL">
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
         </div>
        </div>
        <!-- TODO: Termina contenido central (documentos del RI ITSAL)-->

        <!-- TODO: Inicia contenido derecho (Filtros)-->
        <aside class="col-md-3 d-flex" id="filters">
            <div class="card w-100 shadow-lg">
                <div class="card-header bg-header-title text-white">
                    <h2 class="fs-6">
                        <b>Filtros:</b>
                    </h2>
                </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark"><b>Autor:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A second link item <span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark"><b>Título:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A second link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               <div class="p-4">
                <h2 class="fs-6 text-dark"><b>Fecha de lanzamiento:</b></h2>
                <div class="list-group shadow-lg">
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A second link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A third link item<span class="badge text-bg-secondary float-end">0</span></a>
                    <a href="#" class="list-group-item text-dark hover-list-group-item-riitsal list-group-item-action">A fourth link item<span class="badge text-bg-secondary float-end">0</span></a>
                  </div>
               </div>
               </div>
        </aside>
        <!-- TODO: Termina contenido derecho (Filtros)-->
      </div>
</div>