<nav class="navbar navbar-expand-lg bg-header-title">
    <div class="container">
      <div class=" d-xl-none d-md-none .d-lg-block">
        <a class="navbar-brand text-white   " href="#"><strong>RI-ITSAL</strong></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white hover-navbar-riitsal" aria-current="page"
              href="#"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Inicio</a>
          </li>
          <li class="nav-item dropdown d-none">
            <a class="nav-link dropdown-toggle text-white hover-navbar-riitsal" href="#"
              role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorías
            </a>
            <ul class="dropdown-menu dropdown-ul-riitsal ">
              <li><a class="dropdown-item hover-navbar-riitsal text-white" href="#">Tesis</a>
              </li>
              <li>
                <hr class="dropdown-divider dropdown-hr-riitsal">
              </li>
              <li><a class="dropdown-item hover-navbar-riitsal text-white" href="#">Reportes de Residencia</a>
              </li>
              <li>
                <hr class="dropdown-divider dropdown-hr-riitsal">
              </li>
              <li><a class="dropdown-item hover-navbar-riitsal text-white" href="#">Proyectos Integrales</a>
              </li>
            </ul>
          </li>
          <li class="nav-item justify-content-end d-none">
            <a class="nav-link text-white hover-navbar-riitsal" href="#">Contacto</a>
          </li>
        </ul>
        <form class="d-flex me-4 d-none" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-secondary" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav me mb-2 mb-lg-0 " id="ul-navbar-riitsal">
            <li class="nav-item">
                <a class="nav-link text-white hover-navbar-riitsal " href="#"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{datosDeSesion.name}}</a>
              </li>
          <li class="nav-item d-none">
            <a class="nav-link text-white hover-navbar-riitsal " href="#">Registro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white hover-navbar-riitsal " href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
